/* https://codepen.io/jefflombard/pen/GqBzxe */
.card-container {
    display: flex;
    flex-wrap: wrap;
}

/* https://codepen.io/jefflombard/pen/GqBzxe */
.card {
    /* Card Sizing */
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 22px;
    flex: 1;
    width: 8em;
    height: 10em;
    border-radius: .25in;
    transition: 0.5s;
    filter: drop-shadow(0 0 0px black);
    /* Display Properties */
    margin: 10px;
    user-select: none;
}

.card:hover {
    filter: drop-shadow(0 0 3px black);
    margin-top: -0.3em;
    cursor: pointer;
}

.dark {
    /* Color information */
    border: 3px solid black;
    color: white;
    background: black;
}

.light {
    /* Color information */
    border: 3px solid black;
    color: black;
    background: white;
}

.text {
    /*font information*/
    padding-left: 7%;
    padding-right: 7%;
    word-wrap: break-word;
}